
resources/public/js
.cpcache
.idea
.shadow-cljs
node_modules
.nrepl-port
.clj-kondo/.cache
/.clj-kondo/imports/
*.iml
out/

# dpm datomic-pro download
/datomic-pro
# dpm sqlite db
/storage
# dpm backups
/backups