{:paths ["src" "resources"]
 :deps  {com.datomic/peer       {:mvn/version "1.0.7277"}
         thheller/shadow-cljs   {:mvn/version "2.20.1"}
         no.cjohansen/replicant {:mvn/version "2025.03.02"}
         http-kit/http-kit      {:mvn/version "2.7.0"}
         mount/mount            {:mvn/version "0.1.21"}
         lambdaisland/fetch     {:mvn/version "1.5.83"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}}}
